body
{
background-color: AntiqueWhite ;
font-family: arial, verdana, sans-serif;
color :Black ;
}
h2 {
  font-size: 15pt;
  text-decoration: underline;
}
h1
{
font-size: 15pt ;
text-decoration: underline;
}
h3
{
font-size: 15pt;
text-decoration: underline;
}
a:link
{color :Brown ;}
a:visited
{color :Brown ;}
p
{font-size: 12pt ;}
td
{font-size: 12pt ;}
ul
{
font-size: 12pt ;
list-style-type: square;
}
th
{font-size: 12pt ;}
footer {
  font-style: italic;
  font-size: 15px;
}
